.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/
.factorypath
out/
bin/

### Kotlin / Java ###
.kotlin/
*.class

### OS ###
.DS_Store

### Compiler outputs ###
*.kira.c
*.kira.xml
*.kira.txt
*.neko
**/dump_symbols*.txt
dump_symbols*.txt
a.out
app

### Coverage / local ###
/htmlReport
/private
/meta

### Ming local runtime (not part of Kira) ###
.ming/
